@charset "UTF-8";

@font-face {
    font-family: 'Lemon';
    src: url(LEMONMILK-Light.otf)
}

* {
    box-sizing: border-box;
}

#topo {
    background-color: #019DF4;

    font-size: 1.7rem;
    text-shadow: 2px 2px 2px #0f5e88;
    box-shadow: 2px 2px 5px #0f5e88;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#logo {
    width: 80px;
}

#menu {
    display: flex;
    gap: 1rem;
    color: white;

    margin-left: -10px;
}

#menu > a:hover {
    background-color: #00bfff;

    color: white;
    font-size: 1.4rem;

    transition: 0.3s;
    border-radius: 5px;
}

#menu > a:visited {
    color: #e6f7ff;
}

a {
   text-decoration: none;
   color: #ffffff;
}

#hamburguer {
    font-size: 2rem;
    color: white;
    cursor: pointer;

    margin-left: auto;
    padding-right: 0.8rem;
}

#menu-lateral {
    background-color: #00bfffcd;

    height: 12rem;
    width: 100%;
    max-width: 120px;

    font-size: 1.6rem;
    line-height: 1.3;

    border-radius: 10px;
    position: absolute;
    top: 100%;
    right: 1%;

    display: none;
    flex-direction: column;
    padding: 1% 1% 1% 1%;
}

#menu-lateral > a:hover {
    background-color: #0b9e299a;
    color: white;
    text-decoration: none;

    height: 1.8rem;
    width: 95%;

    padding: 3px 4px;
    transition: 0.5s;
    border-radius: 5px;
}

body {
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;

    font-family: 'Lemon';
    font-size: 0.8rem;

    padding-top: 3.5rem;
    padding-bottom: 7rem;

    overflow-x: hidden;
}

#titulo {
    color: #68cb36;

    font-size: 2.3rem;
    text-align: center;
    text-shadow: 2px 2px 2px #338526;
}

#imagem-principal {
    display: block;
    margin: auto;
    margin-top: -100px;
}

#caixa {
    background-color: #019DF4;

    width: 90%;
    max-width: 600px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

    color: #ffffff;
    text-shadow: 2px 2px 2px #0f5e88;
    text-align: center;

    margin: -80px auto 0 auto;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#caixa > h2 {
    color: #70d63d;
    text-shadow: 1px 1px 1px #276d1c;
}

#caixa > p {
    margin-top: -10px;
}

#controle {
    display: flex;
    align-items: center;
    gap: 15px;

    margin-top: 15px;
}

#controle > button {
    background-color: #00bfff;
    width: 3rem;
    height: 3rem;
    box-shadow: 2px 2px 5px #0a496a;

    font-size: 2.2rem;
    color: white;

    border-radius: 10px;
    border: none;

    cursor: pointer;
    margin-top: -10px;
}

#numero {
    font-size: 2.2rem;
    font-weight: bold;

    margin-top: -10px;
}

#gerar > button {
    background-color: #ffffff;
    min-width: 170px;
    min-height: 2.5rem;
    box-shadow: 2px 2px 5px #0a496a;

    font-size: 1.3rem;
    color: #70d63d;
    text-shadow: 0.5px 0.5px 0.5px #276d1c;

    border-radius: 8px;
    border: none;

    cursor: pointer;

    margin-top: 20px;
}

.integrante {
    background-color: #085CD3;
    box-shadow: 2px 2px 5px #0a496a;
    width: 90%;
    max-width: 370px;

    border-radius: 10px;
    padding: 0.1rem 1rem;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

footer {
    background-color: #019DF4;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #ffffff;
    text-shadow: 2px 2px 2px #0f5e88;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 4rem;

    box-shadow: 2px -3px 8px #146997;
    padding: 8px;
}

#resultado {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}

.verde {
    color: #70d63d;
    text-shadow: 2px 2px 2px #276d1c;
}

@media (max-width: 500px) {
    #titulo {
        font-size: 1.5rem;
    }

    body {
        font-size: 0.8rem;
    }

    #menu {
        font-size: 1.3rem;
    }

    #imagem-principal {
        width: 90%;
        margin-top: -70px;
    }
    
    #menu-lateral {
        width: 100%;
    }

    #caixa {
        width: 90%;
        max-width: 600px;

        margin: -50px auto 0 auto;
    }

    #controle > button {
        width: 50px;
        height: 50px;
    }

    #gerar > button {
        width: 140px;
        height: 40px;
    }

    .integrante {
        width: 95%;
    }
}
